{% extends 'base.html.twig' %}

{% block title %}
  Fashionbook Paris|Page d'accueil
{% endblock %}

{% block body %}
  <section class="announces"></section>
  <section class="sidebar">
    sidebar
  </section>
  <section class="posts">
    <div class="new-post">
      <a href="#">
        <span>+</span>
        <span>Publier un article</span>
      </a>
    </div>
    <div class="list-posts">
      {% for post in posts %}
        <article class="post">
          <p>
            Ecrit par jane Doe le {{ post.createdAt|date }}
          </p>
          <img src="{{ asset('images/posts/' ~ post.image) }}" alt="" />
          <h2>
            {{ post.title }}
          </h2>
          <p>
            {{ post.description }}
          </p>
        </article>
      {% endfor %}
    </div>
  </section>
  <section class="ads">
    Les articles
  </section>
{% endblock %}
