{% extends 'layout/site.html.twig' %}

{% block title %}
  FashionBookParis | Publication show
{% endblock %}

{% block content %}
  <article class="post-show">
    <div class="post-author">
      <span>
        <b>{{ [post.author.name, post.author.surname]|join(' ')|title }}</b>
      </span>
      <span>
        <button>Share</button>
        <span>0</span>
        <i>heart</i>
        <button>like</button>
      </span>
    </div>
    <img src="{{ vich_uploader_asset(post) }}" alt="{{ post.title }}" />
    <h1>
      {{ post.title }}
    </h1>
    <p class="post-description">
      {{ post.description }}
    </p>
    <div class="post-problem">
      <span>Signaler un problème</span>
    </div>
  </article>
{% endblock %}
