<footer>
	<ul>
		<li>
			<h2>A propos</h2>
		</li>
		<li>
			<a href="#">Qui sommes-nous?</a>
		</li>
		<li>
			<a href="#">Nous rejoindre</a>
		</li>
	</ul>
	<ul>
		<li>
			<h2>Support</h2>
		</li>
		<li>
			<a href="#">Le service de paiement sécurisé et la livraison</a>
		</li>
		<li>
			<a href="#">Demandez conseil</a>
		</li>
		<li>
			<a href="#">Aide</a>
		</li>
	</ul>
	<ul>
		<li>
			<h2>Informations légales</h2>
		</li>
		<li>
			<a href="#">Conditions générales de vente</a>
		</li>
		<li>
			<a href="#">Vie privée</a>
		</li>
		<li>
			<a href="#">Règles de diffusion,de référencement et de déréférencement</a>
		</li>
		<li>
			<a href="#">Vos droits et obligations</a>
		</li>
		<li>
			<a href="#">Décisions de justice</a>
		</li>
		<li>
			<a href="#">Conditions générales d'utilisation</a>
		</li>
	</ul>
</footer>
