<header class="navbar-header">
	<nav>
		<div></div>
		<div>
			<p>Accueil</p>
		</div>
		<div>
			<form action="">
				<input type="search" name="" id="">
			</form>
			<div></div>
		</div>
	</nav>
</header>
