body{
    overflow-y: hidden;
}
.marketmain{
   display: flex;
    background-color: lightgray;
    
}
.leftboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:15%;
    margin-top: 1%;
    border-right: 2px black;
     
    
}
.midboard{
    flex-direction: row;
    width: 85%;
    overflow: auto;
    height:100vh;
}
.pictureStyle{
    width: 180px;
    border-radius: 5%;
}

.card {
    height:200px;
    width: 90%;
    display: flex;
    margin: 1%;  
    background-color: white;
    border-radius: 5px; 
}
.insideCard{
    display: flex;
    margin:1%;
}
.btnMenu{
    width: 60%;
   padding: 10px;
   margin-bottom: 5%;
   border-radius: 5px;
   background-color: white;
   border : none;
}
.btnFont{
    text-decoration: none;
    color: black;
}