body{
    overflow-y: hidden;
}
/* Home Market */

.marketmain{
    display: flex;
    background-color: #d9dee2;   
}
.leftboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:15%;
    margin-top: 3%;
}
.midboard{
    flex-direction: row;
    width: 85%;
    overflow: auto;
    height:92vh;
}
.pictureStyle{
    width: 150px;
    border-radius: 5%;
}

.card {
    height:140px;
    width: 90%;
    display: flex;
    margin: 1%;  
    background-color: white;
    border-radius: 5px; 
    margin-left: 2%;
}
.insideCard{
    display: flex;
    margin:1%;
}
.TxtPlacement{
    margin-left :5%;
}

.Description{
    margin-top: 1%;
    margin-bottom: 1%;
}

.btnMenu{
    width: 60%;
   padding: 10px;
   margin-bottom: 5%;
   border-radius: 5px;
   background-color: white;
   border : none;
}
.btnFont{
    text-decoration: none;
    color: black;
}

/* End Home Market */

/* Article Market */

.mainArticleMarket {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
}

.imgArticleMarket {
    align-self: center;
}

.pictureArticleMarket {
    border-radius: 50px;
}

.midArticleMarket {
    display: flex;
    column-gap: 50%;
    align-items: center;
}

.leftMidArticleMarket {
    display: flex;
    flex-direction: column;
}

.lineArticleMarket {
    height: 3px;
    background: #516170;
    border: none;
}

.logoMidArticleMarket {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgLogoArticleMarket {
    display: flex;
    align-items: center;
}
/* End Article Market */
.CatStyle{
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
    text-decoration: underline;
}
.titleMidboard{
    margin-left: 4%;
    margin-bottom: 0.8%;
    margin-top: 2%;
    text-decoration: underline;
}
.hrMid{
    width: 87%;
    margin-left: 3.6%;
    margin-top: 1%;
}
.hrLeftboard{
    width: 1px;
    height: 750px;
    margin-top: 3%;
}

.searchBar{
    width: 40%;
    margin-top: 1%;
    margin-left:16%;
    border-radius: 25px;
    padding:8px;
    outline: none;
    border: none;
}
.searchBar img {
    position: relative;
    object-fit: contain;
}
.mentions{
  padding-left: 3%;  
}
/* Accordion */
.accordion{
    height:65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 70%;
    
}
.accordionElement{
      border: none ;
      background-color: #cccbd0;
      cursor: pointer;
     
}
.accordionHeader{
    font-size: 18px;
    align-items: center;
    
}
.accordionElement h3 {
      margin: 0 ;
      
  
}
.accordionContent{
    height:0;
    overflow: hidden;
    margin: 0;
    transition: 1s height;
    background-color: white;

}
.accordionContent p {
    padding:10px;
}
/* END accordion */

/* End Home Market */
