/* body{
    overflow-y: hidden;
} */
/* Home Market */

.marketmain{
    display: flex;
    background-color: lightgray;   
}
.leftboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:15%;
    margin-top: 1%;
    border-right: 2px black;   
}
.midboard{
    flex-direction: row;
    width: 85%;
    overflow: auto;
    height:100vh;
}
.pictureStyle{
    width: 180px;
    border-radius: 5%;
}

.card {
    height:200px;
    width: 90%;
    display: flex;
    margin: 1%;  
    background-color: white;
    border-radius: 5px; 
}
.insideCard{
    display: flex;
    margin:1%;
}
.btnMenu{
    width: 60%;
   padding: 10px;
   margin-bottom: 5%;
   border-radius: 5px;
   background-color: white;
   border : none;
}
.btnFont{
    text-decoration: none;
    color: black;
}

/* End Home Market */

/* Article Market */

.mainArticleMarket {
    display: flex;
    width: 75%;
    justify-content: center;
    flex-direction: column;
}

.imgArticleMarket {
    align-self: center;
}

.pictureArticleMarket {
    border-radius: 50px;
}

.midArticleMarket {
    display: flex;
    column-gap: 50%;
    align-items: center;
}

.leftMidArticleMarket {
    display: flex;
    flex-direction: column;
}

.lineArticleMarket {
    height: 3px;
    background: #516170;
    border: none;
}

.logoMidArticleMarket {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgLogoArticleMarket {
    display: flex;
    align-items: center;
}
/* End Article Market */