.posts {
  width: min(100%, 768px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  row-gap: 10px;
}

.list-posts article {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: min(100%, 768px);
  font-size: 18px;
  background-color: white;
}

hr {
  text-decoration-thickness: 1px solid #b3b3b3;
}

article img {
  width: min(100%, 768px);
  height: auto;
}

.new-post {
  width: 100%;
  height: 72px;
  background-color: #2c2c2c;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-left: 20px;
}

.new-post-sign {
  width: 30px;
  height: 30px;
  font-size: 36px;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-link {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.new-post-link:hover {
  color: rgb(255 255 255/80%);
  text-decoration: underline white;
}

.post-author {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.post h2,
.post-description {
  padding-left: 10px;
}

.post-link {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.post-social-links {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.post-show-link {
  color: #00667c;
  text-decoration: none;
}

.post-show-link:hover {
  color: rgb(0 102 125/80%);
  text-decoration: underline #00667c;
}

.heart-icon {
  width: 22px;
  height: auto;
}

.post-like {
  background-color: transparent;
  padding: 5px 0 5px 0;
  color: #2c2c2c;
  font-size: 18px;
  border: 0;
  outline: none;
}

.post-like:hover {
  background-color: #2c2c2c;
  color: white;
}
