<div class="card">
	<div class="card-header">
		<h4 class="card-title">{{ p.title }}
		</h4>
	</div>
	<img src="{{ p.mainPicture }}" class="card-img" alt="Image du produit">
	<div class="card-body">


		<p class="card-text">
			{{ p.description }}
		</p>
		<a href="" class="btn btn-primary btn-sm">Détails</a>
	</div>
</div>
