{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('user_sign') }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('user_sign') }}
{% endblock %}

{% block body %}
  {% include 'partials/_signupin_header.html.twig' %}
  <main>
    {% block content %}

    {% endblock %}
  </main>
{% endblock %}
